/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
/* header */
.head-page {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.logo-booki{
    width: 61px;
    height: 19px;
}
.hebergements-et-activites{
    display: flex;
}
.nav{
    margin-top: 2px;
}
.nav:hover{
    border-top: solid 2px blue;
    margin-top: 0px;
}

.hebergements-et-activites p {
   margin: 20px;
}
/*Titres*/
.head-title p {
    font-family: 'Raleway', sans-serif;
    line-height: 0.5;
}
.title1{
    font-weight: bold;
    font-size: 20px;
}
.title2{
    font-size: 15px;
}
/*Formulaire*/
.my-form{
    display: flex;
    align-items: row;
    height: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  input{
    border: solid 1px #f2f2f2;
    font-size: 15px;
    text-align: center;
  }
  .localisation{
    border-radius: 15px 0px 0px 15px;
  }
  .cities{
    font-weight: bold;
  
}
.search-button{
    background-color: #0065FC;
    color: #fff;
    border-radius: 0px 15px 15px 0px  ;
    border: thin;
    font-weight: bold;
    padding: 15px;
  
}  
/*Les filtres*/
  .container{
    display: flex;
    column-gap: 15px;
    margin-top: 15px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
  }
  .filter{
    display: flex;
    border: solid 2px #d9d9d9;
    padding: 15px;
    border-radius: 30px;
  }
  .filter:hover{
    background-color: #DEEBFF;
  }
  .logo-filters{
    height : 19px;
    width : 21px;
    margin-right: 10px;
  }
  /*information*/
  .infos{
    display: flex;
    padding: 10px;
  }
  .logo-info{
    height: 25px;
    margin: 12px 10px;
  }
  /* les cartes d'hébergements à Marseille */
  .first-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .second-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

.marseille-card{
    height: 220px;
    width: 240px;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    margin-top: 33px;
}
.marseille-card img{
    border-radius: 20px 20px 0 0;
    height:120px;
    width:100%;
    object-fit: cover;
}

.marseille-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.marseille-cards .card-subtitle {
    margin: 0;
}

.marseille-cards .card-rating {
    margin-bottom: 5px;
}

/* Les activités à Marseille */
.section-title-marseille{
    margin: 25px 0px 0px 25px;
}
.activites-marseille-cards{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}
.activites-marseille-card{
    height: 450px;
    width: 290px;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    margin-top: 33px;
}
.activites-marseille-card img{
    border-radius: 20px 20px 0 0;
    height:400px;
    width:100%;
    object-fit: cover;
}

.activites-marseille-cards .card-title {
    margin: 10px 0px 4px 10px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}